<div class="userPosts">
    <div  class="writePost container"> <!--*ngIf="isMayEdit"-->
        <span class="writePostTitle">Создайте свой новый пост здесь</span><br>
        <textarea class="form-control writePostText" [(ngModel)]="post.text" maxlength="3000"></textarea>
        <span>Простите, а как добавить Media ?</span><br>
        <span class="sendPostButton button" (click)="createPost()">Опубликовать</span>
    </div>
    <div class="readPosts">
        <div *ngFor="let post of posts">
            <app-post [post]="post"></app-post>
        </div>
    </div>
</div>