<div class="userPosts">
    <div *ngIf="isMayEdit" class="writePost">
        <span class="writePostTitle">Создайте свой новый пост здесь</span>
        <input class="writePostText" type="text" placeholder="Hello world" [(ngModel)]="post.text">
        <span>Простите, а как добавить Media ?</span>
        <span class="sendPostButton" (click)="createPost()">Опубликовать</span>
    </div>
    <div class="readPosts">
        <div *ngFor="let post of posts">
            <app-post [post]="post"></app-post>
        </div>
    </div>
</div>