<div class="userProfileMainDiv">
    <div class="inl userAvatar col-md-4">
        <img src="../assets/Img/SideBarMenu/user.svg" alt="Profile" class="userAvatarImg" />
    </div>
    <div class="inl userMainInfo col-md-8">
        <span class="userNickName">{{ selectedUser.nickName }}</span><br />
        <span>Пол: </span><span id="IsMan">{{ selectedUser.isMan }}</span>
        <div class="mediaButtons d-flex flex-row justify-content-between">
            <div class="mediaButton col-md-6" (click)="goToPhoto()">
                <span class="mediaCount">{{ selectedUser.photoCount }}</span><br>
                <span>фотографии</span>
            </div>
            <div class="mediaButton col-md-6" (click)="goToFriends()">
                <span class="mediaCount">{{ selectedUser.friendsCount }}</span><br>
                <span>друзья</span>
            </div>
        </div>
    </div>
</div>
<div class="wall col-md-12">
    <app-user-profile-posts [selectedUser]="selectedUser" [isMayEdit]="isMayEdit">
    </app-user-profile-posts>
</div>