.userProfileMainDiv {
    height: 400px;
    border-bottom: 3px solid var(--second-background-color);
}
.userAvatar {
    height: 400px;
    width: 300px;
    padding: unset;
    float: left;
    border-right: 1px solid var(--second-background-color);
}
.userAvatarImg {
    height: 400px;
    width: 300px;
}
.userMainInfo {
    position: relative;
    margin-left: 10px;
    height: 100%;
    width: 100%;
    float: left;
    padding: 5px;
}
.userNickName{
    font-size: 26px;
    border-bottom: 1px solid var(--border-color);
}
.mediaButtons{
    position: absolute;
    text-align: center;
    width: 100%;
    border-top: 1px solid var(--second-background-color);
    bottom: 0;
}
.mediaButton{
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 5px;
    cursor: pointer;
    transition: 0.5s;
    margin-right: 12px;
}
.mediaButton:hover{
    background: var(--second-background-color);
    border-radius: 5px;
    transition: 0.3s;
}
.mediaCount{
    font-size: 30px;
    color: var(--second-font-color);
}