<div class="userProfileMainDiv">
    <div class="inl userAvatar col-md-4">
        <img src="../assets/Img/SideBarMenu/user.svg" alt="Profile" class="userAvatarImg" />
    </div>
    <div class="inl userMainInfo col-md-8">
        <span class="userNickName">{{ selectedUser.nickName }}</span><br />
        <span>Пол: </span><span id="IsMan">{{ selectedUser.isMan }}</span>
        <div class="mediaButtons ">
            <a routerLink="/photos/{{userId}}" class="mediaButton col-md-4">
                <span class="mediaCount">{{ selectedUser.photoCount }}</span><br>
                <span>фотографии</span>
            </a>
            <a routerLink="/friends/{{userId}}" class="mediaButton col-md-4">
                <span class="mediaCount">{{ selectedUser.friendsCount }}</span><br>
                <span>друзья</span>
            </a>
            <a routerLink="/followers/{{userId}}" class="mediaButton col-md-4" (click)="goToFollowers()">
                <span class="mediaCount">{{ selectedUser.followerCount }}</span><br>
                <span>подписчики</span>
            </a>
        </div>
    </div>
</div>
<div class="wall col-md-12">
    <app-user-profile-posts [selectedUser]="selectedUser" [isMayEdit]="isMayEdit">
    </app-user-profile-posts>
</div>