<div>
    <ul class="menu">
        <li class="menuLi logoLi">Stillborn</li>
        <li class="menuLi"><img src="../assets/Img/SideBarMenu/home.svg" alt="Profile" class="sideBarIcon" />
            Профиль</li>
        <li class="menuLi"><img src="../assets/Img/SideBarMenu/chat.svg" alt="Profile" class="sideBarIcon" />
            Сообщения</li>
        <li class="menuLi"><img src="../assets/Img/SideBarMenu/user.svg" alt="Profile" class="sideBarIcon" />
            Друзья</li>
        <li class="menuLi"><img src="../assets/Img/SideBarMenu/users.svg" alt="Profile" class="sideBarIcon" />
            Сообщества</li>
        <li class="menuLi"><img src="../assets/Img/SideBarMenu/picture.svg" alt="Profile" class="sideBarIcon" />
            Фотографии</li>
    </ul>
</div>