<div>
    <ul class="menu">
        <li class="menuLi logoLi">
            <a routerLink="/authorization">
                Stillborn
            </a></li>
        <li class="menuLi">
            <a routerLink="/user-profile/{{userId}}">
                <img src="../assets/Img/SideBarMenu/home.svg" alt="Profile" class="sideBarIcon"/>
                Профиль
            </a></li>
        <li class="menuLi">
            <a routerLink="/chat-rooms/{{userId}}">
                <img src="../assets/Img/SideBarMenu/chat.svg" alt="Chat" class="sideBarIcon" />
                Сообщения
            </a></li>
        <li class="menuLi">
            <a routerLink="/friends/{{userId}}">
                <img src="../assets/Img/SideBarMenu/user.svg" alt="Profile" class="sideBarIcon"/>
                Друзья
            </a></li>
        <li class="menuLi">
            <a routerLink="/groups/{{userId}}">
                <img src="../assets/Img/SideBarMenu/users.svg" alt="Profile" class="sideBarIcon"/>
                Сообщества
            </a></li>
        <li class="menuLi">
            <a routerLink="/photos/{{userId}}">
                <img src="../assets/Img/SideBarMenu/picture.svg" alt="Profile" class="sideBarIcon"/>
                Фотографии
            </a></li>
    </ul>
</div>