<div>
    <ul class="menu">
        <li class="menuLi logoLi">Stillborn</li>
        <li class="menuLi"><img src="../assets/Img/SideBarMenu/home.svg" alt="Profile" class="sideBarIcon" (click)="goToProfile()"/>
            Профиль</li>
        <li class="menuLi"><img src="../assets/Img/SideBarMenu/chat.svg" alt="Profile" class="sideBarIcon" (click)="goToChatRooms()" />
            Сообщения</li>
        <li class="menuLi"><img src="../assets/Img/SideBarMenu/user.svg" alt="Profile" class="sideBarIcon" (click)="goToFriends()"/>
            Друзья</li>
        <li class="menuLi"><img src="../assets/Img/SideBarMenu/users.svg" alt="Profile" class="sideBarIcon" (click)="goToGroups()"/>
            Сообщества</li>
        <li class="menuLi"><img src="../assets/Img/SideBarMenu/picture.svg" alt="Profile" class="sideBarIcon" (click)="goToPhoto"/>
            Фотографии</li>
    </ul>
</div>