<div class="chatRoom">
  <div class="header">
    <span *ngFor="let userName of usersNames">, {{ userName }}</span>
  </div>
  <div class="messages">
    <div class="message" *ngFor="let message of messages">
      <span class="senderName">{{ message.sender.nickName }}: </span>
      <span class="acceptText">{{ message.text }}</span>
    </div>
  </div>
  <div class="createMessage">
    <input class="createText" type="text" [(ngModel)]="createText">
    <span class="sendButton" (click)="sendMessage()">Отправить</span>
  </div>
</div>