<div class="wrapper">
    <div class="postDiv container">
        <span class="form-control postText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit eligendi
            architecto ipsam sapiente molestiae maxime quibusdam dignissimos dolorum optio. Qui veritatis dolore
            voluptatibus? Expedita tempora id eius perspiciatis eveniet corporis! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Reprehenderit perspiciatis, debitis voluptates minima molestiae delectus suscipit animi harum
            dolorem maxime sapiente nihil reiciendis itaque quidem sunt voluptas possimus sit similique. Lorem ipsum dolor,
            sit amet consectetur adipisicing elit. Harum minus a laboriosam hic inventore sit amet eaque aliquam doloribus
            tenetur, ea quos adipisci, dolor rerum? Magnam qui blanditiis minus ab?</span>
        <div class="postMedia">
            <!-- <span>ЯбеспонятиякакздесьотобразитьмедиаАААААААА</span> -->
        </div>
        <span class="postSender">{{ sender.nickName }}</span>
    </div>
    <div class="postComments">
      <!--КОООООМЕНТЫ ????-->
    </div>
</div>
