<div class="userProfileMainDiv">
    <div class="userAvatar col-md-4">
        <img src="../assets/Img/SideBarMenu/user.svg" alt="Profile" class="userAvatarImg" />
    </div>
    <div class="userMainInfo col-md-6">
        <span class="userNickName">NickName</span><br />
        <span>Пол: </span><span id="IsMan">Не указан</span>
        <div class="mediaButtons">
            <div class="mediaButton">
                <span id="imageCount"></span><br />
                <span>фотографии</span>
            </div>
        </div>
    </div>
    <div></div>
</div>
<div class="wall">
</div>